.env
test_app.ipynb
db_connect_excel.py
runs.ipynb
evaluate_assistant.ipynb
.DS_store
terraform/.terraform/
index_begin.html
.venv/
.vscode/
# index.html
/tests
terraform/.terraform.lock.hcl
poetry.lock
managers/google/nlp
