.env
test_app.ipynb
db_connect_excel.py
runs.ipynb
evaluate_assistant.ipynb
.DS_store
terraform/.terraform/
/data
index_begin.html
.venv/
elastic_ai.ipynb
.vscode/
index.html
terraform/.terraform.lock.hcl
