aiohttp==3.9.3
elasticsearch==8.12.1
fastapi==0.110.0
openai==1.13.3
pydantic==2.6.3
python-dotenv==1.0.1
uvicorn==0.27.1
yes==0.0.1
Flask==3.0.2
Flask-SocketIO==5.3.6
# pandas==2.2.1
# matplotlib==3.8.3
# tqdm==4.66.2
# tonic-validate==3.3.0